.footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 1rem 2rem 1rem;
  background: rgb(9, 9, 9);
  position: relative;
  z-index: 3;
  opacity: 0.7;

  // margin-top: 10rem;
  height: 30px;
  margin-top: 100px;
}
.footer_admin_link{
  cursor: pointer;
}

@media(max-width: 480px) {
  .footer{
  font-size: 10px;
 
  }
}